nav, header, main, section, article, footer{
    width: 100%;
}

#nav-text-logo{
    color: var(--bs-blue);
    font-weight: 900;
    font-size: 1.5rem;
    letter-spacing: 0.02px;
}

.navbar-nav .nav-item{
    color: black !important;
    line-height: 0.25rem !important;
    font-weight: 500;
    font-size: 1.5rem;
}

.nav-link.active{
    color: var(--bs-blue) !important;
}

.hero-content{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url('../images/landing-page.jpg'); /*hero image*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
}

.hero-content > .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transform: translateY(50%);
    width: 50%;
}

.contact-button {
    width: 200px !important;
    height: 45px ;
    border-radius: 50px !important;
}

/* #hero-content{
    margin: 21% 25%;
} */

#about-img{
    max-width: 100%;
}

.about-text li::marker {
    content: '✓    ';
    color: green;
}

.gradient-circle{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: rgb(187, 185, 185, 0.1);
    bottom: -6%;
    right: -4%;
    z-index: -1;
}

.img-wrapper{
    width: 20rem;
    height: 20rem;
    overflow: hidden;
}

.card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0% !important;
}

.card-text{
    color: var(--bs-gray-400);
}

input {
    border-radius: 50px !important;
}
 
textarea::placeholder{
    color: var(--bs-gray-500) !important;
}

ul > li{
    padding-bottom: 8px;
}

.about .contact-button{
    width: 150px !important; 
}

.info-container{
    justify-content: space-between;
}

.info-container p.head{
    color: white;
}

.info-container p.content{
    color: rgba(255, 255, 255, 0.4);
}


.socials p.content{
    display: inline;
    padding-right: 40px;
}

.socials p.content:last-child{
    padding:0;
}

footer hr{
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

p.copyright{
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
}


@media (max-width: 1200px) {
    .gradient-circle{
        display: none;
    }
}

@media (max-width: 800px){
    .hero-content{
        width: 100%;
        height: 50vh;
    }
}

/* 
@media (min-width: 1350px) and (max-width: 1600px) {
    #hero-content{
        margin: 19% 15%;
    }
}

@media (min-width: 996px) and (max-width: 1199px) {
    .gradient-circle{
        bottom: 7%;
    }
}

@media (min-width: 1000px) and (max-width: 1349px) {
    #hero-content{
        margin: 17% 15%;
    }
}

@media (min-width: 0px) and (max-width: 1000px) {
    #hero-content{
        margin: 15% 5%;
    }
} */
