#nav-content{
    position:relative;
}

#hero-img{
    width: 100%;
    height: auto;
    position:absolute;
    top:0%;
    left:0%;
    z-index: -1;
    overflow-x: hidden;
}

#nav-text-logo{
    color: var(--bs-blue);
    font-weight: 900;
    font-size: 1.5rem;
    letter-spacing: 0.02px;
}

.navbar-nav .nav-item{
    color: black !important;
    line-height: 0.25rem !important;
    font-weight: 500;
}

.nav-link.active{
    color: var(--bs-blue) !important;
}

.contact-button {
    width: 200px !important;
    height: 45px ;
    border-radius: 50px !important;
}

#hero-content{
    margin: 21% 25%;
}

#about-img{
    max-width: 100%;
}

.about-text li::marker {
    content: '✓    ';
    color: green;
}

.gradient-circle{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: rgb(187, 185, 185, 0.1);
    bottom: -6%;
    right: -4%;
    z-index: -1;
}
.card-img-top {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 0% !important;
}
.card-text{
    color: var(--bs-gray-400);
}

@media (min-width: 1350px) and (max-width: 1600px) {
    #hero-content{
        margin: 19% 15%;
    }
}

@media (min-width: 996px) and (max-width: 1199px) {
    .gradient-circle{
        bottom: 7%;
    }
}

@media (min-width: 1000px) and (max-width: 1349px) {
    #hero-content{
        margin: 17% 15%;
    }
}

@media (min-width: 0px) and (max-width: 1000px) {
    #hero-content{
        margin: 15% 5%;
    }
}
